body {
    /* The second value here is a fallback. */
    cursor: url('../img/cursor.png'), auto;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: rgb(255, 255, 255);
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 14px;
  right: 7px;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 100%;
  content: " ";
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* * {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  /* width: 100px;
  height: 100px; */
/* }  */

.magny-cursor{
  cursor: url('../svg/magnifier.svg'), auto!important;
}
