body {
    /* The second value here is a fallback. */
    cursor: url('../img/cursor.png'), auto!important;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: rgb(255, 255, 255);
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 14px;
  right: 7px;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 100%;
  content: " ";
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
