@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

main {
  @apply max-h-screen;
  @apply overflow-y-scroll;
  @apply snap snap-y snap-mandatory;
}

section {
  @apply h-screen;
  @apply w-full;
  @apply snap-start;
  @apply relative;
}

#logo-img {
  @apply absolute;
  @apply w-32;
  @apply z-0;
}

/* Landing Page */

#landing {
  @apply bg-primary-nude;
  @apply relative;
}
#landing-title {
  @apply absolute;
  @apply w-full;
  @apply md:left-24;
  @apply top-58;
  @apply md:top-32;
  @apply z-40;
  @apply text-3xl;
  @apply text-center;
  @apply md:text-justify;
  @apply md:text-8xl;
  @apply text-primary-blue;
}
#landing-subtitle {
  @apply absolute;
  @apply w-full;
  @apply md:left-24;
  @apply text-center;
  @apply md:text-justify;
  @apply top-64;
  @apply md:top-56;
  @apply text-5xl;
  @apply text-primary-blue;
}
#landing-subtitle-dot {
  @apply absolute;
  @apply text-primary-orange;
}
#sun {
  @apply text-primary-orange; 
  @apply fill-current;
  @apply z-0;
}
#sun-container {
  @apply absolute;
  @apply top-8;
  @apply md:top-8;
  @apply md:left-18;
}
#cloud1-img {
  @apply absolute;
  @apply inset-y-24;
  @apply right-60;
  @apply max-w-4xl;
  @apply animate-bounce;
}
#cloud2-img {
  @apply absolute;
  @apply inset-y-24;
  @apply right-80;
  @apply left-80;
  @apply max-w-4xl;
  @apply animate-bounce;
}
#cloud3-img {
  @apply absolute;
  @apply right-24;
  @apply bottom-52;
  @apply max-w-xs;
}
#cloudavatars-img {
  @apply absolute;
  @apply left-28;
  @apply top-24;
  @apply inset-y-2/4;
  @apply max-w-4xl;
}
#balloon-img {
  @apply absolute;
  @apply z-10;
  @apply w-20;
  @apply inset-y-96;
  @apply sm:inset-y-0;
  @apply sm:w-72;
  @apply right-10;
  @apply sm:right-28;
  @apply md:max-w-4xl;
  @apply max-w-sm;
  @apply animate-fly;
}
#fire-gif {
  @apply absolute;
  @apply z-0;
  @apply w-16;
  @apply inset-y-76;
  @apply right-56;
  @apply max-w-4xl;
  @apply invisible;
  @apply sm:visible;
  @apply animate-fly;
}
#landing-shape-divider-bottom {
  @apply absolute;
  @apply z-20;
  @apply text-primary-blue; 
  @apply fill-current;
  @apply inset-x-0;
  @apply bottom-0;
  @apply transform rotate-180;
}

/* About Page */

#about {
  @apply bg-primary-blue;
}
#patrick-img {
  @apply absolute;
  @apply right-32;
  @apply top-1/4;
  @apply w-52 xl:w-96;
}
#eyes {
  @apply absolute;
  @apply xl:right-36 right-12;
  @apply xl:top-36 top-14;
  @apply invisible xl:visible;
}

/* Process page */
#process {
  @apply bg-primary-blue;
}

/* Wizard page */
#wizard {
  @apply bg-primary-blue;
}

/* Foot page */
#contact {
  @apply bg-primary-nude;
  @apply relative;
}
.hand-img {
  @apply w-6 h-6;
  @apply transform rotate-90;
  @apply float-right;
}
#cloud4-img {
  @apply absolute;
  @apply inset-y-40;
  @apply left-96;
  @apply max-w-sm;
}
#cloud5-img {
  @apply absolute;
  @apply z-10;
  @apply inset-y-24;
  @apply left-20;
  @apply max-w-4xl;
}
#cloud6-img {
  @apply absolute;
  @apply right-24;
  @apply top-1;
  @apply max-w-xs;
}
#plants-right-img {
  @apply absolute;
  @apply max-w-xs;
  @apply z-50;
  @apply w-32;
  @apply md:w-52;
  @apply right-0;
  @apply bottom-0;
}
#plants-left-img {
  @apply absolute;
  @apply max-w-xs;
  @apply z-50;
  @apply w-32;
  @apply md:w-52;
  @apply left-0;
  @apply bottom-0;
}
#landscape-img {
  @apply absolute;
  @apply z-40;
  @apply inset-x-0;
  @apply w-full;
  @apply bottom-0;
}
#mountains-left-img {
  @apply absolute;
  @apply invisible;
  @apply md:visible;
  @apply max-w-5xl;
  @apply z-30;
  @apply left-0;
  @apply bottom-40;
}
#mountains-right-img {
  @apply absolute;
  @apply w-96;
  @apply z-30;
  @apply right-0;
  @apply bottom-40;
}
#star1-img {
  @apply z-0;
  @apply absolute;
  @apply w-6;
  @apply left-24;
  @apply top-24;
  @apply animate-spin;
  @apply animate-pulse;}
#star2-img {
  @apply z-0;
  @apply absolute;
  @apply w-6;
  @apply right-36;
  @apply top-40;
  @apply animate-spin;
  @apply animate-pulse;}
#star3-img {
  @apply z-0;
  @apply absolute;
  @apply w-3;
  @apply inset-x-18;
  @apply top-40;
  @apply animate-spin;
}
#star4-img {
  @apply z-0;
  @apply absolute;
  @apply w-3;
  @apply inset-1/2;
  @apply top-40;
  @apply animate-spin;
}
#star5-img {
  @apply z-0;
  @apply absolute;
  @apply w-3;
  @apply inset-1/4;
  @apply top-60;
  @apply animate-pulse;
}
#star-falling-img {
  @apply w-10;
  @apply ml-72;
  @apply animate-falling;
}