<section id="packages" class="flex flex-row bg-primary-blue">
  <div class="flex items-center w-full h-full m-auto overflow-x-scroll p-auto">
    <div class="flex mx-auto flex-nowrap">
      <div class="flex flex-col max-w-xs px-3 py-20 mx-3 overflow-hidden transition-shadow duration-300 ease-in-out rounded-lg shadow-lg bg-card-salmon h-90 w-80 hover:shadow-none">
        <!-- <img class="self-center h-full mx-auto my-14 max-h-80" src="/static/svg/rocket.svg"> -->
        <h5 class="mt-0 text-3xl font-bold text-center text-primary-white">START-UP</h5>
        <h5 class="mt-0 mb-4 font-normal text-center text-md text-primary-white">template website</h5>
        <ul class="text-center text-primary-white">
          <li>- bestaand template</li>
          <li>- ontworpen in eigen huisstijl</li>
          <li>- levertijd 2-4 weken</li>
        </ul>
      </div>
      <div class="flex flex-col max-w-xs px-3 py-20 mx-3 overflow-hidden transition-shadow duration-300 ease-in-out rounded-lg shadow-lg bg-card-aqua h-90 w-80 hover:shadow-none">
        <!-- <img class="self-center h-full mx-auto my-14 max-h-80" src="/static/svg/tree.svg"> -->
        <h5 class="mt-0 text-3xl font-bold text-center text-primary-white">GROWTH</h5>
        <h5 class="mt-0 mb-4 font-normal text-center text-md text-primary-white">maatwerk website</h5>
        <ul class="text-center list-disc text-primary-white">
          <li>- originele single-page* website</li>
          <li>- ontworpen in eigen huisstijl</li>
          <li>- levertijd 4-6 weken</li>
          <li>- CMS-optie*</li>
        </ul>
      </div>
      <div class="flex flex-col max-w-xs px-3 py-20 mx-3 overflow-hidden transition-shadow duration-300 ease-in-out rounded-lg shadow-lg bg-card-jeans h-90 w-80 hover:shadow-none">
        <!-- <img class="self-center h-full mx-auto my-14 max-h-80" src="/static/svg/crown.svg"> -->
        <h5 class="mt-0 text-3xl font-bold text-center text-primary-white">ABSOLUTE</h5>
        <h5 class="mt-0 mb-4 font-normal text-center text-md text-primary-white">growth + brand</h5>
        <ul class="text-center list-disc text-primary-white">
          <li>- originele single of multi-page website</li>
          <li>- inclusief visual branding</li>
          <li>- levertijd 6-8 weken</li>
        </ul>
      </div>
      <div class="flex flex-col max-w-xs px-3 py-20 mx-3 overflow-hidden transition-shadow duration-300 ease-in-out rounded-lg shadow-lg bg-card-brick h-90 w-80 hover:shadow-none">
        <!-- <img class="self-center mx-auto h-2/4 max-h-60 animate-bounce_low" src="/static/svg/art.svg"> -->
        <h5 class="mt-0 text-3xl font-bold text-center text-primary-white">BRAND</h5>
        <h5 class="mt-0 mb-4 font-normal text-center text-md text-primary-white">visual branding</h5>
        <ul class="text-center list-disc text-primary-white">
          <li>- logo</li>
          <li>- complete huisstijl</li>
          <li>- levertijd 1-2 weken</li>
        </ul>
      </div>
    </div>
</section>